body {         background-image: linear-gradient( to bottom, #3399cc, #c2e0f0, #3399cc);
}

* { box-sizing: border-box; }

header  { background-color: #000033       ;
        color: #FFFFFF    ;
        font-family: Georgia, 'Times New Roman', Times, serif ;

    }

#wrapper { background-color: #000033 ;
    min-width: 700px;
    max-width: 1024px;
    margin-left: auto ;
    margin-right: auto;
    width: 80% ;
    box-shadow: 3px 2px 5px 0px black; 
} 

h1 { 
    background-image: url(sunset.jpg); 
    background-position: right;
    background-repeat: no-repeat;
    line-height: 200%;
    padding-left: 20px ;
    height:72px;
    margin-bottom: 0%;

}
h2 {  color: #3399cc     ;
    font-family: Georgia, 'Times New Roman', Times, serif    ;
}

h3 {
    color: #000033
}
nav { font-weight: bold;
    float: left;
    padding: 5px;
    width: 160px;
    padding: 20px 5px 0 20px;
}

nav a {
    text-decoration: none;
}
nav a:link     {
    color: #FFFFFF;
}

nav a:visited {
    color: #C2E0F0;
}
nav a:hover {
    color: #CCCCCC
}

nav ul { 
    list-style-type: none; 
    padding-left: 0;
    margin:0; 
}

main { 
    background-color: #FFFFFF ; 
    margin-left: 170px;
    padding: 1px 20px;
    display: block;
    }

#mobile {
    display: none;
}

#desktop {
    display: none;
}

#homehero { 
    height: 300px;
    background-image: url(coast.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    margin-left: 170px;

}
#trailhero {    height: 300px;
    background-image: url(trail.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    margin-left: 170px;
}

#yurthero {    height: 300px;
    background-image: url(yurt.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    margin-left: 170px;
}
dt { font-weight: bold;
    color: #000033; 
}
.resort { font-size: 1.2em;
        color: #000033;
}
footer { font-size: .7em;
    font-style: italic;
    text-align : center; 
    padding : 1em;
    background-color: white; 
    padding: 10px;
    margin-left: 170px;
}

header, nav, main, footer {
    display : block;
}